<head>
  <title>TinyApp</title>
  <% if (!id) { %>
  <a href="/register">Register</a>
  <a href="/login">Login</a>
  <% } else { %>
  <% if (email) { %>
    <%= email %>
  <% } %>
  <form method="post" action="/logout">
    <input type="submit" value="Logout" />
  </form>
  <% } %>
</head>
