<!DOCTYPE html>
<html>

<body>
  Register New Account:
  <form  method="post" action="/register">
    <input type="email" name="email" id="email" placeholder="Email*"/>
    <input type="password" name="password" id="password" placeholder="Password*"/>
    <input type="submit" value="Submit" />
  </form>
  * Notes Required Fields
</body>

</html>
