<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <ul>
    <% Object.keys(urls).forEach(shortURL => {%>
      <li>--> Full Length URL: <%= urls[shortURL] %> --> Shortened URL: <%= shortURL %>
        <form method="POST" action='/urls/<%= shortURL %>/delete'>(<a href="/urls/<%= shortURL %>/delete">Delete URL</a>)</form></li>
    <% }); %>
  </ul>
  Shorten New URL <a href='/urls/new'>Here</a>
</body>
</html>
