<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <ul>
    <% Object.keys(urls).forEach(shortURL => {%>
      <li>-Full Length URL: <%= urls[shortURL] %> -Shortened URL: <%= shortURL %></li>
    <% }); %>
  </ul>
  Shorten New URL <a href='/urls/new'>Here</a>
</body>
</html>
